---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

https://webbcanyonchronicle.com/7935/showcase/vws-students-demonstrate-passion-for-computer-science/
https://issuu.com/thewebbschools/docs/webb_summer_2023_issuu -- magazine showcasing women in CS award
https://webbcanyonchronicle.com/7988/uncategorized/research-with-drones-the-role-of-technology-in-biology-and-conservation/
https://www.webb.org/news/gaulbots-to-compete-in-regional-championships/
https://issuu.com/thewebbschools/docs/webb_magazine_spring_2022 -- Paleontology trip and quote about robotics
